.App {
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Arial', sans-serif;
  }
  
  .filters label {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #444;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .filters select {
    margin-top: 6px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
    width: 150px;
  }
  
  .filters select:hover,
  .filters select:focus {
    border-color: #4CAF50;
    background-color: #e7f9e7;
    outline: none;
  }
  
  .filters select option {
    padding: 8px;
  }
  
  
  .characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .character-card {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: left;
    transition: transform 0.3s;
  }
  
  .character-card:hover {
    transform: translateY(-10px);
  }
  
  .loading {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  
  .error {
    font-size: 18px;
    font-weight: bold;
    color: #ff6b6b;
    text-align: center;
  }
  